.home-wrapper{
    background-color:rgba(219, 168, 168, 0.3);
    height: 100%;
    width: 100%;
}

button{
    margin: 0.5rem;
}

.reg{
    text-align: center;
    border: 1px black solid;
    border-radius: 1rem;
    border-width: medium;
    border-width: medium;
    width: 500px;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}